<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>
		dakshabhipms-qa
	</display-name>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>workspace.jsp</welcome-file>
	</welcome-file-list>
 
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<env-entry>
		<env-entry-name>profilepath</env-entry-name>
		<env-entry-value>/opt/pmsdakshabhi-qa/uploads/avatar/</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>documentpath</env-entry-name>
		<env-entry-value>/opt/pmsdakshabhi-qa/uploads/document/</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>DriverClass</env-entry-name>
		<env-entry-value>com.mysql.cj.jdbc.Driver</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>URL</env-entry-name>
		<env-entry-value>
			jdbc:mysql:localhost:pmsdakshabhi_qa
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>UID</env-entry-name>
		<env-entry-value>root</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>password</env-entry-name>
		<env-entry-value>root</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>Database</env-entry-name>
		<env-entry-value>pmsdakshabhi_qa</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>DatabaseType</env-entry-name>
		<env-entry-value>MYSQL</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
</web-app>